#chart { background-color: #f6f6f6;}
#chart svg g[clip-path] path {cursor:pointer;}
.panels > li { 
	float: left;
	border: thin solid red;
	vertical-align: top;
	overflow: visible;
}
.icon {
	height: 24px;
	padding-left: 24px;
	background-repeat: no-repeat;
	display: inline-block;
}
.alerts {
	width: 322px;
	height: 491px;
}
#newsInfo {
	width: 307px;
	height: 158px;
}

.documentation {
	width: 297px;
	height: 158px;
}
#reconStatistics {
	width: 620px;
	height: 361px;
}
.alerts {
	width: 322px;
	height: 491px;
}

.alerts li {
	display: block;
	vertical-align: top;
}
.alerts .info {
	background-image: url('../image/information.gif');
}

.alerts .delete {
	background-image: url('../image/delete.gif');
}
.panels  li  .title {
	font-weight: bold;
	display: block;
	vertical-align: top;
}

.k-loading-mask {
	position: relative;
}